<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
<!------ Include the above in your HEAD tag ---------->
{% load static %}

<!DOCTYPE html>
<html>
	<head>
		<title>Chat</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <!-- <link rel="stylesheet" href="style.css"> -->
        <!-- <script src="{% static 'room1.js' %}"></script> -->
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.js"></script>
        <script src ="{% static 'reconnecting-websocket.js' %}"></script>
	</head>
	<body>
		<div class="container-fluid h-100">
			<div class="row justify-content-center h-100">
				<div class="col-md-4 col-xl-3 chat"><div class="card mb-sm-3 mb-md-0 contacts_card">
					<div class="card-header">
						<div class="input-group">
							<input type="text" placeholder="Search..." name="" class="form-control search">
							<div class="input-group-prepend">
								<span class="input-group-text search_btn"><i class="fas fa-search"></i></span>
							</div>
						</div>
					</div>
					<div class="card-body contacts_body">
						<ui class="contacts">
						<li class="active">
							<div class="d-flex bd-highlight">
								<div class="img_cont">
									<img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="rounded-circle user_img">
									<span class="online_icon"></span>
								</div>
								<div class="user_info">
									<span>{{ username }}</span>
									<p>{{ username }} is online</p>
								</div>
							</div>
						</li>
						<!-- <li>
							<div class="d-flex bd-highlight">
								<div class="img_cont">
									<img src="https://2.bp.blogspot.com/-8ytYF7cfPkQ/WkPe1-rtrcI/AAAAAAAAGqU/FGfTDVgkcIwmOTtjLka51vineFBExJuSACLcBGAs/s320/31.jpg" class="rounded-circle user_img">
									<span class="online_icon offline"></span>
								</div>
								<div class="user_info">
									<span>Taherah Big</span>
									<p>Taherah left 7 mins ago</p>
								</div>
							</div>
						</li> -->
						</ui>
					</div>
					<div class="card-footer"></div>
				</div></div>
				<div class="col-md-8 col-xl-6 chat">
					<div class="card">
						<div class="card-header msg_head">
							<div class="d-flex bd-highlight">
								<div class="img_cont">
									<img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="rounded-circle user_img">
									<span class="online_icon"></span>
								</div>
								<div class="user_info">
									<span>{{ username }}</span>
									<p>online</p>
								</div>
								<!-- <div class="video_cam">
									<span><i class="fas fa-video"></i></span>
									<span><i class="fas fa-phone"></i></span>
								</div> -->
							</div>
							<span id="action_menu_btn"><i class="fas fa-ellipsis-v"></i></span>
							<div class="action_menu">
								<ul>
									<li><i class="fas fa-user-circle"></i> View profile</li>
									<li><i class="fas fa-users"></i> Add to close friends</li>
									<li><i class="fas fa-plus"></i> Add to group</li>
									<li><i class="fas fa-ban"></i> Block</li>
								</ul>
							</div>
						</div>
						<div class="card-body msg_card_body" id="chat-log">
							<!-- <div class="d-flex justify-content-start mb-4">
								<div class="img_cont_msg">
									<img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="rounded-circle user_img_msg">
								</div>
								<div class="msg_cotainer">
									Hi, how are you samim?
									<span class="msg_time">8:40 AM, Today</span>
								</div>
							</div>
							<div class="d-flex justify-content-end mb-4">
								<div class="msg_cotainer_send">
									Hi Khalid i am good tnx how about you?
									<span class="msg_time_send">8:55 AM, Today</span>
								</div>
								<div class="img_cont_msg">
							<img src= "https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="rounded-circle user_img_msg">
								</div>
							</div> -->
						</div>
						<div class="card-footer">
							<div class="input-group">
								<div class="input-group-append">
									<span class="input-group-text attach_btn"><i class="fas fa-paperclip"></i></span>
								</div>
								<input name="" class="form-control type_msg" id="chat-message-input" placeholder="Type your message..." />
								<div class="input-group-append">
									<button class="submit" id="chat-message-submit" class="input-group-text send_btn"><i class="fas fa-location-arrow" aria-hidden="true"></i></button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
        </div>
        <script src ="{% static 'reconnecting-websocket.js' %}"></script>
        <script src ="{% static 'room1.js' %}"></script>
        <script>
            const roomName ={{ room_name_json }};
            var username={{ username }};
            const chatSocket = new ReconnectingWebSocket(
                'ws://' + window.location.host
                + '/ws/chatapp/' + roomName+ '/'
            );

            chatSocket.onopen = function(e) {
                fetchMessages();
            }
    
            chatSocket.onmessage = function(e) {
                const data = JSON.parse(e.data);
				if (data['command'] === 'messages') {
					for (let i=0; i<data['messages'].length; i++) {
						createMessage(data['messages'][i]);
					}
				} else if (data['command'] === 'new_message'){
					createMessage(data['message']);
				}
            };
    
            chatSocket.onclose = function(e) {
                console.error('ERROR');
            };
    
            document.querySelector('#chat-message-input').focus();
            document.querySelector('#chat-message-input').onkeyup = function(e) {
                if (e.keyCode === 13) {  // enter, return
                    document.querySelector('#chat-message-submit').click();
                }
            };
    
            document.querySelector('#chat-message-submit').onclick = function(e) {
                const messageInputDom = document.querySelector('#chat-message-input');
                const message = messageInputDom.value;
                chatSocket.send(JSON.stringify({
                    'message': message,
                    'command':'new_message',
                    'from':username,
                }));
                messageInputDom.value = '';
            };
            
            function fetchMessages() {
                chatSocket.send(JSON.stringify({'command': 'fetch_messages' }));
            }

            function createMessage(data) {
                var author = data['author'];
                var mesgeDiv=document.createElement('div');
                var imgdiv=document.createElement('div');
                var msgcon=document.createElement('div');
                var imageTag = document.createElement('img');
                var spanTag = document.createElement('span');

                if (author === username) {
                    mesgeDiv.className = 'd-flex justify-content-end mb-4';
                    imgdiv.className='img_cont_msg';
                    imageTag.src = 'http://emilcarlsson.se/assets/mikeross.png';
                    imageTag.className='rounded-circle user_img_msg';
                    msgcon.className='msg_cotainer_send';
                    msgcon.textContent = data.content;
                    msgcon.appendChild(spanTag);
                    spanTag.className='msg_time_send';
                    spanTag.textContent=data.timestamp;
                    mesgeDiv.appendChild(msgcon);
                    mesgeDiv.appendChild(imgdiv);
                    imgdiv.appendChild(imageTag);
                } else {
                    mesgeDiv.className = 'd-flex justify-content-start mb-4';
                    imgdiv.className='img_cont_msg';
                    imageTag.src = 'https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg';
                    imageTag.className='rounded-circle user_img_msg';
                    mesgeDiv.appendChild(imgdiv);
                    imgdiv.appendChild(imageTag);
                    msgcon.className='msg_cotainer';
                    msgcon.textContent = data.content;
                    msgcon.appendChild(spanTag);
                    spanTag.className='msg_time';
                    spanTag.textContent=data.timestamp;
                    mesgeDiv.appendChild(msgcon);
                }
                document.querySelector('#chat-log').appendChild(mesgeDiv);
            }
        </script>
	</body>
</html>
